.boton-header {
  padding: .5rem .75rem;
  --bs-bg-opacity: 0;
  font-size: 14px;
}

.contenedor-botones {
  width: 360px;
}

.boton-header-2 {
  padding: 20px;
  --bs-bg-opacity: 0;
  font-size: 14px;
  background-color: #ffbc0d;
  height: 48px;
  align-items: center;
  padding-bottom: 9px;
}

.boton-header-2:hover {
  background-color: #c08b00;
  border-color: transparent;
  color: rgba(0, 0, 0, .7);
}

.tamaño-letra-submenu {
  font-size: 14px;
}

.background-prefooter {
  background-color: #ffbc0d;
}

.estilo-iconos {
  color: #6f6f6f;
}

.texto-politicas {
  color: #6f6f6f;
  font-size: 16px;
}

.padding-rem {
  padding: .75rem;
}

.height-card-1 {
  height: 211px;
}

.height-card-2 {
  height: 200px;

}

.height-card-4 {
  height: 225px;

}

.height-card-5 {
  height: 225px;

}

.padding-card {
  padding: 20px 60px;
}

.titulo-card {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.titulo-text {
  font-size: 16px;
}

.bordes-card {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .07);
  border-radius: 6px;
  overflow: hidden;
}

.boton-banner {
  background-color: #f3af00;
  min-width: 114px;
  padding: 10px 25px 10px 25px;
  margin: 8px auto;
  border-radius: 5px;
  font-size: 14px;
}

.boton-banner:hover {
  background-color: #c08b00;
}

/* Agrega reglas CSS para mostrar el menú desplegable cuando se pasa el ratón */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Ajusta la posición del menú desplegable */
.dropdown-menu {
  margin-top: 0;
  position: absolute;
  top: 61px;
  border-radius: 0px;
  max-width: 999pc;
  right: -1369px;
  width: 1904px;
  height: 40vh;
}

.menu-movil{
  display: none;
}

.cart-position{
  margin-top: -6px;
}

.bg-cart{
  background-color:#ffbc0d;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* MEDIA Q */


/*
  NOTEBOOK
  (1280px - 1690)
*/
@media (min-width: 1280px) and (max-width: 1690px) {
  .contenedor-botones {
    margin-left: -82px;
  }

  .dropdown-menu {
    right: -1017px;
    width: 1351px;
    height: 55vh;
  }
}


/*
  MOVIL
  (768px)
*/
@media (max-width:768px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .padding-card {
    padding: 20px 5px;
  }

  .height-card-1 {
    height: 140px;
  }

  .titulo-card {
    font-size: 22px;
  }

  .titulo-text {
    font-size: 14px;
  }

  .height-card-4 {
    height: 125px;
  }

  .logo-rojo {
    width: 80px;
  }

  .ubicacion-movil {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .centrar-texto {
    text-align: center;
  }

  .centrar-boton {
    justify-content: center;
  }

  .btn-padding-descargar {
    padding-inline: 20px;
    padding-block: 10px;
  }

  .wave-movil {
    margin-top: -17px;
  }

  .redes-ubicacion {
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }

  .botones-store {
    justify-content: center !important;
  }

  .terminos-condiciones {
    display: none;
  }
  .centrar-logo-movil{
    display: flex;
    justify-content: start;
  }
  .menu-movil{
    display: block;
    padding: 30px;
  }
  .desaparecer-menu{
    display: none;
  }
  .bg-menu-movil{
    background-color: #fff !important;
  }
  .dropdown-menu{
    height: auto;
    width: 100%;
    border: none;
  }
  .productos-movil{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
    font-size: var(--bs-nav-link-font-size) !important;
    font-weight: var(--bs-nav-link-font-weight) !important;
    color: var(--bs-nav-link-color) !important;
    text-decoration: none !important;
  }
  .posicion-carrito-movil{
    display: flex;
    justify-content: end;
    margin-right: 25px;
  }
  .offcanvas-header .btn-close{
    margin-right: 13px;
  }
}